html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top-movie button {
  background: #DCD2D0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px 3px rgba(225, 226, 239, 0.37);
          box-shadow: 1px 1px 10px 3px rgba(225, 226, 239, 0.37);
  padding: 8px 40px;
  cursor: pointer;
  color: black;
  border: black;
  font-size: 21px;
  -webkit-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.top-movie button:hover {
  background-color: black;
  color: #DCD2D0;
}

.category-three, .category-two, .category-one, .best-note-movies {
  width: 99vw;
}
.category-three h2, .category-two h2, .category-one h2, .best-note-movies h2 {
  margin: 20px 0px 0px 30px;
  font-size: 52px;
}
.category-three ul, .category-two ul, .category-one ul, .best-note-movies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0px 10px 0px;
  width: 97vw;
  overflow: hidden;
}
.category-three li, .category-two li, .category-one li, .best-note-movies li {
  cursor: pointer;
  height: auto;
  padding: 0px 15px 0px 15px;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}
.category-three li a img, .category-two li a img, .category-one li a img, .best-note-movies li a img {
  height: 500px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: height, transform;
  transition-property: height, transform;
  transition-property: height, transform, -webkit-transform;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}
.category-three li a img:hover, .category-two li a img:hover, .category-one li a img:hover, .best-note-movies li a img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.category-three .arrow, .category-two .arrow, .category-one .arrow, .best-note-movies .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.category-three .arrow img, .category-two .arrow img, .category-one .arrow img, .best-note-movies .arrow img {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 30%;
  width: 50px;
  margin: 0px 20px 0px 20px;
}

body {
  width: 86vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgb(0, 102, 122);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 102, 122)), color-stop(69%, rgb(0, 0, 0)));
  background: -o-linear-gradient(bottom, rgb(0, 102, 122) 0%, rgb(0, 0, 0) 69%);
  background: linear-gradient(0deg, rgb(0, 102, 122) 0%, rgb(0, 0, 0) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00667a",endColorstr="#000000",GradientType=1);
}

h1 {
  font-family: "Balbek-Personnal";
  color: whitesmoke;
  font-size: 5.2em;
}

h2 {
  font-family: "Balbek-Personnal";
  color: whitesmoke;
}

p {
  font-family: "Poppins-Light";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  font-size: 50px;
  color: white;
  margin: 0 0 0 20px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin: 0 0 0 20px;
}
header li {
  font-family: "Balbek-Personnal";
  color: white;
  cursor: pointer;
}

.top-movie {
  height: 60vh;
}
.top-movie img {
  height: 60vh;
  width: 99vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-movie h1 {
  position: relative;
  bottom: 331px;
  left: 50px;
  padding: 0 30px 0 0;
  text-shadow: 7px 4px 7px rgb(0, 0, 0);
}
.top-movie h2 {
  text-shadow: 7px 4px 7px rgb(0, 0, 0);
  position: relative;
  bottom: 288px;
  left: 50px;
  color: #d32b2b;
  font-size: 2em;
  padding: 10px 0px 10px 0px;
}
.top-movie p {
  text-shadow: 7px 4px 7px rgb(0, 0, 0);
  font-size: 20px;
  position: relative;
  height: auto;
  width: 88vw;
  bottom: 310px;
  left: 50px;
  color: whitesmoke;
}
.top-movie button {
  margin: 0px 10px 0px 0px;
  position: relative;
  bottom: 280px;
  left: 50px;
}

.best-note-movies__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.category-one__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.category-two__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.category-three__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.open_infos_movies {
  display: none;
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 0fr auto;
  gap: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.open_infos_movies h2 {
  font-size: 3.2em;
}
.open_infos_movies p {
  font-size: 20px;
  color: aliceblue;
}
.open_infos_movies img {
  height: 600px;
  width: auto;
  grid-row: 2;
  margin: 0 0 0 30px;
}
.open_infos_movies div {
  grid-row: 2/3;
  padding: 40px;
  overflow: scroll;
}
.open_infos_movies div::-webkit-scrollbar {
  display: none;
}
.open_infos_movies div > * {
  margin: 7px 0px 0px 0px;
}
.open_infos_movies img:nth-child(1) {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 40px;
  cursor: pointer;
  margin: 20px 0px 20px 20px;
  grid-row: 1;
  grid-column: 1/2;
}

@media screen and (max-width: 550px) {
  .top-movie {
    height: 96vh;
  }
  .top-movie img {
    height: 100vh;
  }
  .top-movie h1 {
    bottom: 460px;
  }
  .top-movie p {
    bottom: 434px;
  }
  .top-movie h2 {
    bottom: 433px;
  }
  .top-movie button {
    bottom: 432px;
  }
}
@media screen and (max-width: 770px) {
  .open_infos_movies {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 0fr auto auto;
    overflow: scroll;
  }
  .open_infos_movies img {
    margin: 0 auto 0 auto;
  }
  .open_infos_movies div {
    margin: 0 auto 0 auto;
    grid-row: 3;
    overflow: initial;
  }
}
@font-face {
  font-family: "Balbek-Personnal";
  src: url("../base/police/Balbek-Personal Use Only.otf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../base/police/Poppins-Light.ttf");
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL2Jhc2UvX3Jlc2V0LnNjc3MiLCIuLi8uY3NzL3N0eWxlLmNzcyIsIi4uL3V0aWxzL19wbGFjZWhvbGRlcnMuc2NzcyIsIi4uL3BhZ2VzL19ob21lLnNjc3MiLCIuLi91dGlscy9fbWl4aW5zLnNjc3MiLCIuLi9iYXNlL19wb2xpY2Uuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7Ozs7Ozs7Ozs7OztFQWFDLFNBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLGVBQUE7RUFDQSxhQUFBO0VBQ0Esd0JBQUE7QUNDRDs7QURDQSxnREFBQTtBQUNBOztFQUVDLGNBQUE7QUNFRDs7QURBQTtFQUNDLGNBQUE7QUNHRDs7QUREQTtFQUNDLGdCQUFBO0FDSUQ7O0FERkE7RUFDQyxZQUFBO0FDS0Q7O0FESEE7O0VBRUMsV0FBQTtFQUNBLGFBQUE7QUNNRDs7QURKQTtFQUNDLHlCQUFBO0VBQ0EsaUJBQUE7QUNPRDs7QUNoREE7RUFDSSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsOERBQUE7VUFBQSxzREFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLFlBQUE7RUFDQSxhQUFBO0VBQ0EsZUFBQTtFQUNBLDhDQUFBO0VBQUEseUNBQUE7RUFBQSxzQ0FBQTtFQUNBLGlDQUFBO09BQUEsNEJBQUE7VUFBQSx5QkFBQTtBRG1ESjtBQ2xESTtFQUNJLHVCQUFBO0VBQ0EsY0FBQTtBRG9EUjs7QUNoREE7RUFDSSxXQUFBO0FEbURKO0FDbERJO0VBQ0kseUJBQUE7RUFDQSxlQUFBO0FEb0RSO0FDbERJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw4QkFBQTtFQUFBLDZCQUFBO01BQUEsdUJBQUE7VUFBQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsV0FBQTtFQUNBLGdCQUFBO0FEb0RSO0FDbERJO0VBQ0ksZUFBQTtFQUNBLFlBQUE7RUFDQSwwQkFBQTtFQUNBLHNEQUFBO0VBQUEsOENBQUE7RUFBQSx5Q0FBQTtFQUFBLHNDQUFBO0VBQUEseURBQUE7RUFDQSwrQkFBQTtPQUFBLDBCQUFBO1VBQUEsdUJBQUE7QURvRFI7QUNsREk7RUFDSSxhQUFBO0VBQ0EsZ0NBQUE7TUFBQSw0QkFBQTtVQUFBLHdCQUFBO0VBQ0Esc0RBQUE7RUFBQSw4Q0FBQTtFQUFBLHlDQUFBO0VBQUEsc0NBQUE7RUFBQSx5REFBQTtFQUNBLCtCQUFBO09BQUEsMEJBQUE7VUFBQSx1QkFBQTtBRG9EUjtBQ25EUTtFQUNJLDZCQUFBO01BQUEseUJBQUE7VUFBQSxxQkFBQTtBRHFEWjtBQ2xESTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSw2QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGVBQUE7QURvRFI7QUNsRFE7RUFDSSx5QkFBQTtVQUFBLGlCQUFBO0VBQ0EsV0FBQTtFQUNBLFdBQUE7RUFDQSx5QkFBQTtBRG9EWjs7QUU1R0E7RUFDSSxXQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLDRCQUFBO0VBR0Esa0hBQUE7RUFBQSw2RUFBQTtFQUFBLHdFQUFBO0VBQ0EsZ0hBQUE7QUYrR0o7O0FFNUdBO0VDVkksK0JBQUE7RURZQSxpQkFBQTtFQUNBLGdCQUFBO0FGK0dKOztBRTdHQTtFQ2ZJLCtCQUFBO0VEaUJBLGlCQUFBO0FGZ0hKOztBRTlHQTtFQUNJLDRCQUFBO0FGaUhKOztBRTlHQTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsOEJBQUE7RUFBQSw2QkFBQTtNQUFBLHVCQUFBO1VBQUEsbUJBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7QUZpSEo7QUVoSEk7RUFDSSxlQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0FGa0hSO0FFaEhJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw4QkFBQTtFQUFBLDZCQUFBO01BQUEsdUJBQUE7VUFBQSxtQkFBQTtFQUNBLFNBQUE7RUFDQSxrQkFBQTtBRmtIUjtBRWhISTtFQ3ZDQSwrQkFBQTtFRHlDSSxZQUFBO0VBQ0EsZUFBQTtBRmtIUjs7QUUvR0E7RUFDSSxZQUFBO0FGa0hKO0FFakhJO0VBQ0ksWUFBQTtFQUNBLFdBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0FGbUhSO0FFakhJO0VBQ0ksa0JBQUE7RUFDQSxhQUFBO0VBQ0EsVUFBQTtFQUNBLG1CQUFBO0VDckRKLHFDQUFBO0FIeUtKO0FFakhJO0VDeERBLHFDQUFBO0VEMERJLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLFVBQUE7RUFDQSxjQUFBO0VBQ0EsY0FBQTtFQUNBLDBCQUFBO0FGbUhSO0FFakhJO0VDakVBLHFDQUFBO0VEbUVJLGVBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0EsYUFBQTtFQUNBLFVBQUE7RUFDQSxpQkFBQTtBRm1IUjtBRWpISTtFQUNJLHdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxhQUFBO0VBQ0EsVUFBQTtBRm1IUjs7QUcvTEk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0EsV0FBQTtBSGtNUjs7QUdyTUk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0EsV0FBQTtBSHdNUjs7QUczTUk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0EsV0FBQTtBSDhNUjs7QUdqTkk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0EsV0FBQTtBSG9OUjs7QUVySEE7RUFDSSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxlQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxzQ0FBQTtFQUNBLDRCQUFBO0VBQ0EsU0FBQTtFQUNBLDhCQUFBO01BQUEsMkJBQUE7VUFBQSw2QkFBQTtBRndISjtBRXZISTtFQUNJLGdCQUFBO0FGeUhSO0FFdkhJO0VBQ0ksZUFBQTtFQUNBLGdCQUFBO0FGeUhSO0FFdkhJO0VBQ0ksYUFBQTtFQUNBLFdBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7QUZ5SFI7QUV2SEk7RUFDSSxhQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0FGeUhSO0FFeEhRO0VBQ0ksYUFBQTtBRjBIWjtBRXZISTtFQUNJLHVCQUFBO0FGeUhSO0FFdkhJO0VBQ0kseUJBQUE7VUFBQSxpQkFBQTtFQUNBLFlBQUE7RUFDQSxlQUFBO0VBQ0EsMEJBQUE7RUFDQSxXQUFBO0VBQ0EsZ0JBQUE7QUZ5SFI7O0FFckhBO0VBQ0k7SUFDSSxZQUFBO0VGd0hOO0VFdkhNO0lBQ0ksYUFBQTtFRnlIVjtFRXZITTtJQUNJLGFBQUE7RUZ5SFY7RUV2SE07SUFDSSxhQUFBO0VGeUhWO0VFdkhNO0lBQ0ksYUFBQTtFRnlIVjtFRXZITTtJQUNJLGFBQUE7RUZ5SFY7QUFDRjtBRXJIQTtFQUNJO0lBQ0ksc0NBQUE7SUFDQSxpQ0FBQTtJQUNBLGdCQUFBO0VGdUhOO0VFckhNO0lBQ0kscUJBQUE7RUZ1SFY7RUVySE07SUFDSSxxQkFBQTtJQUNBLFdBQUE7SUFDQSxpQkFBQTtFRnVIVjtBQUNGO0FJOVNBO0VBQ0ksK0JBQUE7RUFDQSx1REFBQTtBSmdUSjtBSTlTQTtFQUNJLDRCQUFBO0VBQ0EsNENBQUE7QUpnVEoiLCJmaWxlIjoic3R5bGUuY3NzIn0= */