body {
    width: 86vw;
    display: flex;
    flex-direction: column;
    background: rgb(0,102,122);
    background: -moz-linear-gradient(0deg, rgba(0,102,122,1) 0%, rgba(0,0,0,1) 69%);
    background: -webkit-linear-gradient(0deg, rgba(0,102,122,1) 0%, rgba(0,0,0,1) 69%);
    background: linear-gradient(0deg, rgba(0,102,122,1) 0%, rgba(0,0,0,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00667a",endColorstr="#000000",GradientType=1);
}

h1 {
    @include h1-font-family;
    color: whitesmoke;
    font-size: 5.2em;
}
h2 {
    @include h1-font-family;
    color: whitesmoke;
}
p {
    font-family: "Poppins-Light";
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 50px;
        color: white;
        margin: 0 0 0 20px;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 0 0 0 20px
    }
    li {
        @include h1-font-family;
        color: white;
        cursor: pointer;
    }
}
.top-movie {
    height: 60vh;
    img{
        height: 60vh;
        width: 99vw;
        object-fit: cover;
    }
    h1 {
        position: relative;
        bottom: 331px;
        left: 50px;
        padding: 0 30px 0 0;
        @include box-shadow-texte;
    }
    h2 {
        @include box-shadow-texte;
        position: relative;
        bottom: 288px;
        left: 50px;
        color: #d32b2b;
        font-size: 2em;
        padding: 10px 0px 10px 0px;
    }
    p {
        @include box-shadow-texte;
        font-size: 20px;
        position: relative;
        height: auto;
        width: 88vw;
        bottom: 310px;
        left: 50px;
        color: whitesmoke;
    }
    button {
        margin: 0px 10px 0px 0px;
        position: relative;
        bottom: 280px;
        left: 50px;
        @extend %button;
    }
}

.best-note-movies {
    @extend %list_movie;
    @include block-list;
}
.category-one{
    @extend %list_movie;
    @include block-list;
}
.category-two {
    @extend %list_movie;
    @include block-list;
}
.category-three {
    @extend %list_movie;
    @include block-list;
}

.open_infos_movies {
    display: none;
    background: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 0fr auto;
    gap: 20x;
    justify-content: space-evenly;
    h2 {
        font-size: 3.2em;
    }
    p {
        font-size: 20px;
        color: aliceblue;
    }
    img {
        height: 600px;
        width: auto;
        grid-row: 2;
        margin: 0 0 0 30px;
    }
    div {
        grid-row: 2 /3;
        padding: 40px;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    div > * {
        margin: 7px 0px 0px 0px;
    }
    img:nth-child(1) {
        filter: invert(1);
        height: 40px;
        cursor: pointer;
        margin: 20px 0px 20px 20px;
        grid-row: 1;
        grid-column: 1 /2;
    }
}

@media screen and (max-width: 550px){
    .top-movie {
        height: 96vh;
        img {
            height: 100vh;
        }
        h1 {
            bottom: 460px;
        }
        p {
            bottom: 434px;
        }
        h2 {
            bottom: 433px;
        }
        button {
            bottom: 432px;
        }
    }
}

@media screen and (max-width: 770px){
    .open_infos_movies{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: 0fr auto auto;
        overflow: scroll;
        
        img{
            margin: 0 auto 0 auto;
        }
        div {
            margin: 0 auto 0 auto;
            grid-row: 3;
            overflow: initial;
        }
    }
}